.contactInfoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.contactInputContainer {
  flex: 100%;
  display: flex;
  flex-direction: column;
  color: #4f4f4f;
  gap: 0.5rem;
}

.contactInfo {
  background-color: #171717;
  border: 0;
  border-bottom: 2px solid #4f4f4f;
  color: #fff;
  height: 2rem;
}

.error {
  color: #b80808;
}

.contactInfo:focus {
  outline: none;
  transition: border-bottom 0.5s ease-out;
  border-bottom: 2px solid #27ae60;
}

.contactInputContainer:last-child {
  margin-top: 1rem;
}

.sendBtn {
  display: block;
  box-sizing: content-box;
  width: 143px;
  height: 42px;
  background-color: #27ae60;
  border: 1px solid #27ae60;
  color: #fff;
  font-weight: 500;
  margin: 1rem auto;
  margin-top: 1.8rem;
}

.textArea {
  border: 2px solid #4f4f4f;
  padding: 1rem;
  font-family: "DM Sans", Arial, sans-serif;
}

@media screen and (min-width: 768px) {
  .contactInfoContainer {
    max-width: 753px;
    margin: 0 auto;
    flex-direction: row;
    gap: 2rem;
  }

  .contactInputContainer {
    flex: 40%;
    flex-wrap: wrap;
  }

  .contactInputContainer:last-child {
    margin-top: 1.5rem;
  }
}
