.container {
  padding: 0 1rem;
  border-bottom: 10px solid #1f1f1f;
}

.aboutText {
  text-align: center;
  margin-bottom: 2rem;
}

.infoList {
  list-style: none;
  padding: 0;
  padding-left: 1rem;
  margin-bottom: 3rem;
}

.infoItem {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.infoContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 576px) {
  .infoList {
    display: flex;
    flex-wrap: wrap;
  }

  .infoItem {
    flex: 40%;
  }
}

@media screen and (min-width: 768px) {
  .infoList {
    width: 80%;
    margin: 0 auto 3rem auto;
  }

  .aboutText {
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .infoList {
    max-width: 37.5rem;
    margin-bottom: 3rem;
  }
}
