@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import "./styles/utils/util.css";

html {
  font-size: 16px;
  font-family: "DM Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
  color: #ffff;
}
