.container {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 1, 125rem;
  color: #828282;
  font-size: 700;
  margin: 0.5rem auto 2rem auto;
}

.image {
  border-radius: 50%;
  border: 12px solid #212121;
  margin: 0 auto;
}

.btnContainer {
  margin: 0 auto;
  display: flex;
  gap: 0.7rem;
}

.ctaBtn {
  width: 8.9375rem;
  height: 2.625rem;
  background-color: #171717;
  border: solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.linkBtn {
  width: 8.9375rem;
  height: 2.625rem;
  border: 1px solid #fff;
  background-color: #171717;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkBtn:hover {
  background-color: #505050;
  transition: background-color 0.5s ease-out;
}

.linkBtnPrimary {
  background-color: #27ae60;
  border: none;
}

.linkBtnPrimary:hover {
  background-color: #1f894b;
  transition: background-color 0.5s ease-out;
}
