.desktopMenu {
  display: none;
}

.hamburgerMenu {
  display: block;
  padding: 0 0.5rem;
}

@media screen and (min-width: 992px) {
  .listContainer {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
  }

  .listItem {
    min-width: 5rem;
  }

  .desktopMenu {
    display: block;
    width: 15%;
  }

  .hamburgerMenu {
    display: none;
  }
}
