.desktopMenu {
  display: none;
}

@media screen and (min-width: 992px) {
  .desktopMenu {
    display: block;
    width: 115%;
  }

  .listContainer {
    display: flex;
    gap: 56px;
    list-style: none;
    padding: 0;
  }

  .link {
    width: 50px;
    color: #fff;
    text-decoration: none;
  }

  .link:hover {
    color: #27ae60;
    border-bottom: 3px solid #27ae60;
    transition: color 1s ease-out, border 1s ease-out;
  }
}
